/node_modules
/node_modules/*
session.json
chats/*
!chats/.gitkeep
media/*
!media/.gitkeep
mediaSend/*
!mediaSend/.gitkeep
!mediaSend/nota-de-voz.mp3
.env
.wwebjs_auth
nodesheets-370104-05a1777fbf5f.json
